<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <magenable_purchase_partner_url>
            <general>
                <enabled>1</enabled>
                <title>Purchase From Partner</title>
                <show_all_links>0</show_all_links>
            </general>
            <analytics>
                <enabled>1</enabled>
                <event_category>External Link</event_category>
                <event_action>Partner Link Click</event_action>
            </analytics>
        </magenable_purchase_partner_url>
    </default>
</config>
