.products-grid {
    @media (min-width: 640px) {
        .product-item-info:not(:hover):not(.active) {
            .product-item-purchase-partner {
                width: 0;
                overflow: hidden;
            }
        }
    }
    .product-item-purchase-partner {
        ~ .product-item-inner {
            .actions-primary {
                display: none;
            }
        }
    }
}
